<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
            titulo por defecto
        {% endblock titulo %}
    </title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">inicio</a></li>
                <li><a href="#">contacto</a></li>
                <li><a href="#"></a>nueva url</li>
            </ul>
        </nav>
    </header>
    {% block contenido %}
    {% endblock %}

    {% include 'bienvenido/prueba.html'%}
    {% include 'bienvenido/prueba.html'%}
    {% include 'bienvenido/prueba.html'%}
    <footer>
        <p>footer actualizado de la pagina</p>
    </footer>

</body>
</html>