{% extends 'bienvenido/base.html' %}
        
{% block titulo %}
    Departamentos
{% endblock titulo %}

{% block contenido %}

<form action="" method="GET">
    {{ formulario_busqueda }}
    <input type="submit" value="buscar">
</form>
<a href="{% url 'nuevo_dpto' %}">NUEVO DEPARTAMENTO</a>
<ul>
    {% for dpto in departamentos %}
        <li>
            <a href="{% url 'detalle_departamento' dpto.id%}">
                {{dpto.id}}-{{dpto.nombre}}
            </a>
        </li>
    {% endfor %}
</ul>


{% endblock %}